@import 'src/styles.scss';

.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
}

.info {
    padding-left: 10px;

}

.image {
    border-radius: 20px;
    border-radius: 8px;
}