<div class="card">
  <div>
    <div>
      <img class="image" src="{{character.image}}">
    </div>
  </div>
    <div>
        <div class="info pt-2">
            {{character.name}}
        </div>
        <div class="info">
          <div>
            Status
          </div>
            {{character.status}}
        </div>
        <div class="info">
          <div>
            Species
          </div>
            {{character.species}}
        </div>
        <div class="info">
            <div>
              Gender
            </div>
              {{character.gender}}
        </div>
    </div>
</div>