<div class="card">
  <div>
    <div>
      <img src="https://pbs.twimg.com/media/Dpf4eQSW4AACg1k.jpg">
    </div>
  </div>
    <div>
        <div class="info pt-2">
          <div>
            Status
          </div>
            Alive
        </div>
        <div class="info">
          <div>
            Status
          </div>
            Alive
        </div>
        <div class="info">
          <div>
            Status
          </div>
            Alive
        </div>
        <div class="info">
            <div>
              Status
            </div>
              Alive
        </div>
    </div>
</div>