.header {
    background-color: #e9e9e9;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: red;
    height: 90px;
    width: 90xp;
}