@import 'src/styles.scss';

.home {
    background-color: $dark;
}

.header {
    color: $white;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-flow: wrap;
    margin-left: 16px;
    justify-content: space-between;
}

.character__card {
    margin-right: 20px;
}